*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: 133px auto
}

.content__list {
  height: 298px;
  overflow: scroll;
  padding: 0;
}

.content__list-item {
  margin-bottom: 30px;
}

/** не работает, не убирается отступ 30 пх у последнего элемента*/ 
.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 26px;
  width: 399px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}




h1,
h2,
h3,
h4,
p,
ul,
ol,
li,

blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}