*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ol {
  list-style: none;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  scrollbar-width: none;
  padding: 0;
  position: relative;
  margin: 0;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  inline-size: 100%;
  block-size: 100%;
  align-self: flex-end;
  gap: 26px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  margin: 0;
  padding: 0;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  cursor: pointer;
  appearance: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  inline-size: 225px;
  block-size: 27px;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}


.search-form__label:has(.search-form__pseudo-checkbox):has(:hover) {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin: 0;
  padding: 0;
}

.search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  cursor: pointer;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox {
  border: 2px solid #000;
  outline-offset: -1px;
  background-color: #fff;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1919;
  border: 1px solid #fff;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  height: 34px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  width: 399px;
}